body {
  font-family: Arial, sans-serif;
}

.container h1 {
  margin-bottom: 30px;
}

.card-body img {
  width: 100%;
  max-width: 250px;
  height: auto;
  transition: transform 0.2s ease-in-out; /* Animacja powiększania */
}

.card-body img:hover {
  transform: scale(1.5); /* Zwiększenie skali powiększenia */
}
