{% extends "base.html" %} {% block title %}Personel - Restauracja XYZ{% endblock
%} {% block content %}
<h1>Witaj, {{ session['username'] }}</h1>
<p>Tu możesz przeglądać i zarządzać zamówieniami.</p>

<h2>Zamówienia</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID zamówienia</th>
      <th>Klient</th>
      <th>Nazwa dania</th>
      <th>Opis</th>
      <th>Cena</th>
      <th>Ilość</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.user_id }}</td>
      <td>{{ order.item_name }}</td>
      <td>{{ order.item_description }}</td>
      <td>{{ order.item_price }} PLN</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
